<ion-view ng-init="loadChild()" cache-view="false">
  <ion-header-bar class="bar-positive" align-title="center">
    <div class="buttons">
        <button class="button button-clear"
                ng-click="history.goBack()">
            <i class="icon ion-arrow-left-c"></i>
        </button>
    </div>
    <h1 class="title">{{child.name}}</h1>
  </ion-header-bar>
  <ion-content class="padding member_pages products">

    <div class="bar bar-header item-input-inset">
        <ion-search placeholder="Search" filter="search"></ion-search>
    </div>
    
    <div class="row" ng-repeat="products in chunkedProducts">
     <div class="col col-50" ng-repeat="product in products | filter:search.value">
      <div class="list card items">
        <a class="item item-body" href="#/tab/dash/product/{{product.id}}">
          <img src="{{product.image}}" class="full-image">
          <h2>{{product.name}}</h2>
        </a>
        <a class="coverBorder" href="#/tab/dash/product/{{product.id}}"></a>
      </div>
     </div>         
    </div> 

  </ion-content>
</ion-view>

