<ion-view ng-init="selectCategory()" cache-view="false">
  
  <ion-header-bar class="bar-positive" align-title="center">
    <h1 class="title">Select</h1>
  </ion-header-bar>

  <ion-content class="padding member_pages categories">

    <div class="bar bar-header item-input-inset">
        <ion-search placeholder="Search" filter="search"></ion-search>
    </div>
    
    <div class="row" ng-repeat="categories in chunkedCategories">
     <div class="col col-50" ng-repeat="category in categories | filter:search.value">
      <div class="list card items">
        <a class="item item-body" href="{{(category.children.length > 0) ? ('#/tab/dash/' + category.id) : ('#/tab/dash/child/' + category.id)}}">
          <img src="{{category.image}}" class="full-image">
          <h2>{{category.name}}</h2>
        </a>
        <!-- <h2>{{category.name}}</h2> -->
        <a class="coverBorder" href="{{(category.children.length > 0) ? ('#/tab/dash/' + category.id) : ('#/tab/dash/child/' + category.id)}}"></a>
      </div>
     </div>         
    </div> 

  </ion-content>
</ion-view>
