<ion-view ng-init="loadProduct()" cache-view="false">
  <ion-header-bar class="bar-positive" align-title="center">
    <div class="buttons">
        <button class="button button-clear"
                ng-click="history.goBack()">
            <i class="icon ion-arrow-left-c"></i>
        </button>
    </div>
    <h1 class="title">{{product.name}}</h1>
  </ion-header-bar>

  <ion-content class="padding member_pages product">

    <div class="list">

      <div class="item item-image">
        <img src="{{product.image}}">
      </div>

      <ion-item class="item-stable"
                ng-click="toggleObject(product)"
                ng-class="{active: isObjectShown(product)}">
          <i class="icon" ng-class="isObjectShown(product) ? 'ion-minus' : 'ion-plus'"></i>
        &nbsp;
        Details
      </ion-item>
      <ion-item class="item-accordion item-text-wrap" ng-show="isObjectShown(product)">
        {{product.detail}}
      </ion-item>
      <form on-valid-submit="add2Cart(product)" novalidate="novalidate" ng-controller="OrderCtrl">
                <div class="list">
                    
                    
                    <fancy-select
                                  header-text="Select Variant"
                                  allow-empty='false'
                                  variant="item.variant"
                                  price="item.price"
                                  id="item.id"
                                  text="options_text"
                                  items="options" ng-if="product.quantity">
                    </fancy-select>
                    <label class="item" ng-if="product.weight">
                      {{options[0].variant}}
                      <span class="item-note">Rs {{options[0].price}}</span>
                    </label>
                    <label class="item item-input validated">
                      <input type="tel" placeholder="{{(product.quantity) ? 'Quantity' : 'Amount (in gms)'}}" ng-model="product.amount" required="required">
                      <i class="icon ion-alert-circled error"></i>
                    </label>
                    <button class="button button-block button-balanced designed" type="submit">Add To Cart</button>

                </div>
            </form>

  </ion-content>
</ion-view>
