<ion-view ng-init="allOrders()" cache-view="false">
  <ion-header-bar class="bar-positive" align-title="center">
    <h1 class="title">Orders</h1>
  </ion-header-bar>

  <ion-content class="padding member_pages orders">
  	
  	<div class="bar bar-header item-input-inset">
        <ion-search placeholder="Search" filter="search"></ion-search>
    </div>
    <div class="list card">
      <ion-item class="item-stable"
                ng-click="toggleObject('PLACED')"
                ng-class="{active: isObjectShown('PLACED')}">
          <i class="icon" ng-class="isObjectShown('PLACED') ? 'ion-minus' : 'ion-plus'"></i>
        &nbsp;
        Placed
      </ion-item>
      <ion-item class="item-accordion" ng-show="isObjectShown('PLACED')">
        <div class="item" ng-repeat="order in orders.placed | filter:search.value">
		  <a class="item" href="#/tab/orders/{{order.id}}" >
		    <h2>{{order.order_id}}</h2>
		    <p>
			    <div class="row item_detail">
			    	<div class="col">
			    		{{order.items_count}} 
              <p>Items</p>
			    	</div>
			    	<div class="col">	
			    		{{order.total_price}} 
              <p>Price (Rs)</p>
			    	</div>	
			    </div>	
          <div class="row item_detail">
            <div class="col">
			        {{order.updated_at | date:'medium'}}
              <p>Order Placed On</p>
            </div>
          </div>    
			</p>    
		  </a>
	  </div>
      </ion-item>
    </div>

	<div class="list card">
      <ion-item class="item-stable"
                ng-click="toggleObject('PICKED')"
                ng-class="{active: isObjectShown('PICKED')}">
          <i class="icon" ng-class="isObjectShown('PICKED') ? 'ion-minus' : 'ion-plus'"></i>
        &nbsp;
        Picked
      </ion-item>
      <ion-item class="item-accordion" ng-show="isObjectShown('PICKED')">
        <div class="item" ng-repeat="order in orders.picked | filter:search.value">
		  <a class="item" href="#/tab/orders/{{order.id}}" >
		    <h2>{{order.order_id}}</h2>
		    <p>
			    <div class="row item_detail">
            <div class="col">
              {{order.items_count}} 
              <p>Items</p>
            </div>
            <div class="col"> 
              {{order.total_price}} 
              <p>Price (Rs)</p>
            </div>  
          </div>  
          <div class="row item_detail">
            <div class="col">
              {{order.updated_at | date:'medium'}}
              <p>Order Picked At</p>
            </div>
          </div>    
			</p>  
		  </a>
	  </div>
      </ion-item>
    </div>

    <div class="list card">
      <ion-item class="item-stable"
                ng-click="toggleObject('DELIVERED')"
                ng-class="{active: isObjectShown('DELIVERED')}">
          <i class="icon" ng-class="isObjectShown('DELIVERED') ? 'ion-minus' : 'ion-plus'"></i>
        &nbsp;
        Delivered
      </ion-item>
      <ion-item class="item-accordion" ng-show="isObjectShown('DELIVERED')">
        <div class="item" ng-repeat="order in orders.delivered | filter:search.value">
		  <a class="item" href="#/tab/orders/{{order.id}}" >
		    <h2>{{order.order_id}}</h2>
		    <p>
			    <div class="row item_detail">
            <div class="col">
              {{order.items_count}} 
              <p>Items</p>
            </div>
            <div class="col"> 
              {{order.total_price}} 
              <p>Price (Rs)</p>
            </div>  
          </div>  
          <div class="row item_detail">
            <div class="col">
              {{order.updated_at | date:'medium'}}
              <p>Order Delivered At</p>
            </div>
          </div>    
			</p>  
		  </a>
	  </div>
      </ion-item>
    </div>


  </ion-content>
</ion-view>
