<ion-view view-title="Order" ng-init="orderDetails()" cache-view="false">
  <ion-header-bar class="bar-positive" align-title="center">
    <div class="buttons">
        <button class="button button-clear"
                ng-click="history.goBack()">
            <i class="icon ion-arrow-left-c"></i>
        </button>
    </div>
    <h1 class="title">{{order.order_id}}</h1>
  </ion-header-bar>

  <ion-content class="padding member_pages order">
    <div class="row details">
      <div class="col">
        {{items_count}} 
        <p>Items</p>
      </div>
      <div class="col">
        {{total_price}}
        <p>Price (Rs)</p>
      </div>
    </div>

    <div class="bar bar-header item-input-inset">
        <ion-search placeholder="Search" filter="search"></ion-search>
    </div>

    <div ng-repeat="item in items | filter:search.value">
      <div class="list card">
        <div class="item item-text-wrap">
        <h2>{{item.name}}</h2>
        <div class="row item_detail">
          <div class="col">
            {{item.amount}}
            <span ng-if="item.weight">
              gms
            </span> 
            <p>Qty</p> 
          </div>
          <div class="col">
             {{item.per_unit_price}}
            <p>{{item.quantity ? 'Unit Price (Rs)' : 'Per Kg (Rs)'}}</p> 
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col">
            Total Price
          </div>
          <div class="col total_price">  
            Rs {{item.price}}
          </div>
        </div>    
      </div>  
      </div>
    </div>
  	
  </ion-content>
</ion-view>
