<ion-view cache-view="false" ng-init="loadAccount()">
  <ion-header-bar class="bar-positive" align-title="center">
    <h1 class="title">Account</h1>
  </ion-header-bar>

  <ion-content class="padding member_pages account">
    <div class="list">

      <a class="item item-icon-right" href="#">
        Profile
        <i class="icon ion-arrow-right-c"></i>
      </a>

      <a class="item item-icon-right" href="#">
        About
        <i class="icon ion-arrow-right-c"></i>
      </a>

      <a class="item item-icon-right" href="#">
        Privacy Policy
        <i class="icon ion-arrow-right-c"></i>
      </a>

      <a class="item item-icon-right" href="#">
        Versions
        <i class="icon ion-arrow-right-c"></i>
      </a>

    </div>

  </ion-content>
</ion-view>
