<ion-view view-title="Cart" ng-init="cartItems()" cache-view="false">
  <ion-header-bar class="bar-positive" align-title="center">
      <div class="buttons" ng-if="all_items.length > 0">
        <button class="button button-stable" ng-click="data.showDelete = !data.showDelete;">
            <div ng-if="data.showDelete == false">
              Edit
            </div> 
            <div ng-if="data.showDelete == true">
              Done
            </div> 
        </button>
      </div>
      <h1 class="title">Cart</h1>
      <div class="buttons" ng-if="all_items.length > 0">
        <a class="button button-stable" href="#/tab/payment/{{all_items[0].order_id}}">
            Checkout
        </a>
      </div>
    </ion-header-bar>

  <ion-content class="padding member_pages cart">
    <div class="row details">
      <div class="col">
        {{items_count}} 
        <p>Items</p>
      </div>
      <div class="col">
        {{total_price}}
        <p>Price (Rs)</p>
      </div>
    </div>
    <div class="bar bar-header item-input-inset">
        <ion-search placeholder="Search" filter="search"></ion-search>
    </div>
    <div class="card" ng-repeat="item in all_items | filter:search.value">
      <div class="item item-text-wrap">
        <h2>{{item.name}}</h2>
        <div class="row item_detail">
          <div class="col">
            {{item.amount}}
            <span ng-if="item.weight">
              gms
            </span> 
            <p>Qty</p> 
          </div>
          <div class="col">
             {{item.per_unit_price}}
            <p>{{item.quantity ? 'Unit Price (Rs)' : 'Per Kg (Rs)'}}</p> 
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col">
            Total Price
          </div>
          <div class="col total_price">  
            Rs {{item.price}}
          </div>
        </div>    
        <small>
          <div class="item tabs tabs-secondary tabs-icon-left" ng-if="data.showDelete" class="item-remove-animate">
            <button class="button button-clear button-small button-block button-energized" ng-click="utilsservice.showModal(item)">
              EDIT
            </button>
            <button class="button button-clear button-small button-block button-assertive" ng-click="itemDelete(item)">
              REMOVE
            </button>
          </div>
        </small>
      </div>
    </div>

  </ion-content>
</ion-view>
