.public_pages.activation_page {
	background-image: linear-gradient(-180deg, #49CBC1 0%, #3DAEFB 100%);
	.activation_page_content {
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 40px;
		text-align: center;
		color: white;
		h3 {
			color: white;
		}
		label.item.item-input {
			  padding: 10px;
			  border-radius: 10px;
			  margin-bottom: 15px;
			  margin-left: 10px;
			  margin-right: 10px;
		}
		button {
			border-radius: 10px;
		}
	}
}