.member_pages.checkout {
	background-color: #F4EEEE;
	form label.item.item-input {
		border: 2px solid #ddd;
		border-radius: 10px;
		margin: 5px;
	}
	form label.card_payment button.button {
		margin: 5px;
		border-radius: 10px;
	}
	label.item.item-input {
		border-radius: 10px;
		textarea {
			min-height: 100px;
		}
	}
	div.card {
		border-radius: 10px;
		border-top: 5px solid #49CBC1;
	}	
}