.member_pages.categories {
	background-color: #F4EEEE;
	.list.card.items {
		border-radius: 10px;
		margin-left: 10px;
		margin-bottom: 10px;
		border-top: 5px solid #49CBC1;
		.coverBorder {
		  	background: url('../img/shade.png') bottom left repeat-x;
		  	border-bottom-color: rgba(0,0,0,.4);
		  	border: 1px solid #000;
		  	border-color: rgba(0, 0, 0, .25);
		  	border-top-color: rgba(0, 0, 0, .1);
		  	bottom: 0;
		  	left: 0;
		  	position: absolute;
		  	right: 0;
		  	top: 0;
		  	z-index: 10 !important;
		}  
		h2 {
			color: #fff;
			text-rendering: optimizelegibility;
			text-shadow: 0 0 3px rgba(0,0,0,1);
			font-family: helvetica, arial, sans-serif;
			font-size: 18px;
			font-weight: 600;
			line-height: 20px;
			width: 100%;
			bottom: 0px;
			padding-bottom: 10px;
			z-index: 2;
			position: absolute;
			text-align: center;			
		}
		a.item {
			padding: 0px;
		}
	}

	.list:last-child.card {
		margin-bottom: 0px;
	}

	div.row {
		padding: 0px;
		.col.col-50 {
			padding: 0px;
		}
	}
}