//Techcrunch CSS
.top_spacing {
  padding-top: 5%;
  text-align: center;
}

// Home Page CSS
//div.slider {
//  height: 300px;
//}

.slider { height: 100%; text-align: center }
.scroll { height: 100% }

a.slide-right {
  position: absolute;
  top: 25%;
  right: 20px;
  font-size: 30px;
  font-weight: bold;
}

a.slide-left {
  position: absolute;
  top: 25%;
  left: 20px;
  font-size: 30px;
  font-weight: bold;
}

div.home_slide_content {
  position: absolute;
  top: 15%;
  width: 100%;
}

div.home_buttons {
  padding: 5%;
  position: absolute;
  bottom: 1%;
  text-align: center;
  width: 100%;
}

div.home_buttons a.button {
  border-radius: 10px;
  padding-left: 25px;
  padding-right: 25px;
}

input.item.item-input {
  border: 1px solid #ddd;
  padding: 15px;
  width: 100%;
  height: 49px;
}

i.error_alert {
  position: absolute;
  right: 8px;
  margin-top: -44px;
  z-index: 10;
}

div.right-aligned {
  text-align: right;
}

div.slider-pager {
  top: 70% !important;
}

.home_slide1 {
  background: url('../img/background.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.home_slide2 {
  background: url('../img/background.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.home_slide3 {
  background: url('../img/background.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.home_slide4 {
  background: url('../img/background.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}