.member_pages.orders{
	background-color: #F4EEEE;
	padding-bottom: 30px;
	h2 {
		font-size: 20px;
	}
	div.row.details {
		.col {
			text-align: right;
			font-size: 25px;
			color: #999;
			p {
				font-size: 15px;
			}
		}
	}
	div.bar.bar-header.item-input-inset {
		border-radius: 10px;
	}
	div.card {
		border-radius: 10px;
		border-top: 5px solid #49CBC1;
	}
	div.row.item_detail {
		.col {
			text-align: right;
			font-size: 20px;
			color: #999;
			p {
				font-size: 14px;
			}
		}
	}
	.total_price {
		text-align: right;
		font-size: 20px;
		color: #999;
	}
}

.member_pages.item_modal {
	padding: 10px;
	div.row.item_detail {
		.col {
			text-align: right;
			font-size: 20px;
			color: #999;
			p {
				font-size: 14px;
			}
		}
	}
	.total_price {
		text-align: right;
		font-size: 20px;
		color: #999;
	}
	label.item.item-input {
		border-radius: 10px;
	}
}