.member_pages.product {
	background-color: #F4EEEE;
	padding-bottom: 30px;
	div.list {
		padding-bottom: 10px;
		div.item.item-image {
			margin-bottom: 10px;
  			border-radius: 10px;
  			border-top: 5px solid #49CBC1;
		}
		form fancy-select ion-item.item.item-text-wrap.ng-binding {
			margin-top: 10px;
  			border-radius: 10px;
		}
		label.item.item-input {
			border-radius: 10px;
		}
		label.item {
			margin-top: 10px;
			margin-bottom: 10px;
  			border-radius: 10px;	
		}
	}
}