.bar.item-input-inset{
	border-bottom: 0px !important;
	.item-input-wrapper input {
    	width: 100%;
	}
}	

.search-wrapper-light {
    background: none;
    border-radius: 0;
    margin-left: 5px;
    margin-right: 5px;
}

.search-wrapper-light input, .search-wrapper-light input::-webkit-input-placeholder {
    color: #ffffff;
}