@import 'accordion';
@import 'validations';
@import 'fancy-select';
@import 'search';
@import 'payment';
@import 'home';
@import 'signup';
@import 'activation';
@import 'dashboard';
@import 'child_categories';
@import 'products';
@import 'product';
@import 'cart';
@import 'checkout';
@import 'order';
@import 'orders';

.bar.bar-positive {
	background-color: #49CBC1 !important;
}

.tab-nav.tabs {
	background-color: #49CBC1 !important;
	color: white;
}

.bar-positive .button.button-clear {
	font-size: 30px;
}

div.bar.bar-header.item-input-inset {
	border-radius: 10px;
}