form i.icon.error {
  color: red;
}

form input + i.icon.error {
  display: none;
  margin-left: 8px;
}

form.ng-submitted input.ng-invalid + i.icon.error {
  display: block;
}

form .has-error {
  border-left: 5px solid red;
}

form .has-success {
  border-left: 5px solid red;
}

form.ng-submitted input.ng-valid + i.icon.error {
  display: none;
}