<ion-view ng-init="paymentForm()" cache-view="false">
  <ion-header-bar class="bar-positive" align-title="center">
    <div class="buttons">
      <a class="button button-stable" href="#/tab/cart">
          Cart
      </a>
    </div>
    <h1 class="title">Payment</h1>
  </ion-header-bar>

  <ion-content class="padding member_pages checkout">
    <label class="item item-input">
        <textarea placeholder="Enter your address..."></textarea>
    </label>

    <div class="list card">
      <ion-item class="item-stable"
                ng-click="toggleObject('COD')"
                ng-class="{active: isObjectShown('COD')}">
          <i class="icon" ng-class="isObjectShown('COD') ? 'ion-minus' : 'ion-plus'"></i>
        &nbsp;
        COD
      </ion-item>
      <ion-item class="item-accordion" ng-show="isObjectShown('COD')">
        <h2 class="item-text-wrap">Check any cables and reboot any routers, modems, or other network devices you may be using.</h2>
      </ion-item>
    </div>
    
    <div class="list card">
      <ion-item class="item-stable"
                ng-click="toggleObject('PAY')"
                ng-class="{active: isObjectShown('PAY')}">
          <i class="icon" ng-class="isObjectShown('PAY') ? 'ion-minus' : 'ion-plus'"></i>
        &nbsp;
        PAY
        <span class="item-note">Rs {{order.total_price}}</span>
      </ion-item>
      <ion-item class="item-accordion" ng-show="isObjectShown('PAY')">
        <form name="paymentForm" novalidate="novalidate" on-valid-submit="doPayment(order.total_price)">
          <label class="item item-input validated">
              <input type="text" class="input-block-level" placeholder="Card Number" required="required" ng-model="card.number" payments-validate="card" payments-format="card" payments-type-model="type" ng-class="paymentForm.number.$card.type"/>
              <i class="icon ion-alert-circled error"></i>
          </label>

          <label class="item item-input validated">
              <input type="text" class="input-block-level" placeholder="MM / YYYY" required="required" ng-model="card.expiry" payments-validate="expiry" payments-format="expiry" />
              <i class="icon ion-alert-circled error"></i>
          </label>

          <label class="item item-input validated">
              <input type="text" placeholder="Name on card" class="input-block-level" required="required" ng-model="card.name">
              <i class="icon ion-alert-circled error"></i>
          </label>

          <label class="item item-input validated">
              <input type="text" class="input-block-level" placeholder="CVV" required="required" ng-model="card.cvc" payments-validate="cvc" payments-format="cvc" payments-type-model="type"/>
              <i class="icon ion-alert-circled error"></i>
          </label>
          <label class="card_payment">
            <button type="submit" class="button button-block">Pay</button>
          </label>  
          <p></p>
        </form>
      </ion-item>  
      

    </div>  
          
    

  </ion-content>
</ion-view>
