<ion-view class="fancy-select-items modal">
  <ion-header-bar class="bar-positive">

    <button ng-click="hideItems()" class="button button-positive button-icon ion-arrow-left-c"></button>

    <h1 class="title">{{headerText}}</h1>

  </ion-header-bar>
  <ion-content>
    <div class="list">
      <!-- Single select -->
      <label
             ng-repeat="item in items"
             ng-if="!multiSelect"
             class="item item-text-wrap"
             ng-click='validateSingle(item)'>
        {{item.variant}}
        <span class="item-note">
          Rs. {{item.price}}
        </span>
      </label>
    </div>
  </ion-content>
</ion-view>