<ion-list>
  <ion-item class="item-text-wrap" ng-click="showItems($event)">
    {{text}}
    <span class="item-note">
      <span ng-if="price != 'Select'">Rs.</span> {{price}}
    </span>
  </ion-item>
</ion-list>