<div class="fancy-select-items modal" ng-controller="ProductCtrl" cache-view="false" ng-init="getItemDetails()" cache-view="false">
    <ion-header-bar class="bar bar-header bar-stable" align-title="center">
        <h1 class="title">{{item.name}}</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="utilsservice.hideModal()">Done</button>
        </div>
    </ion-header-bar>
    <ion-content class="member_pages item_modal">
    	<div class="list">
    		
            <div class="row item_detail">
              <div class="col">
                {{quantity}}
                <span ng-if="item.weight">
                  gms
                </span> 
                <p>Qty</p> 
              </div>
              <div class="col">
                 {{item.per_unit_price}}
                <p>{{item.quantity ? 'Unit Price (Rs)' : 'Per Kg (Rs)'}}</p> 
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col">
                Total Price
              </div>
              <div class="col total_price">  
                Rs {{item.price}}
              </div>
            </div> 
            <p></p>   
		  	<form ng-submit="updateItem(item)" novalidate="novalidate">
                <div class="list">
                    <label class="item item-input">
                      <input type="tel" placeholder="Quantity" ng-model="item.amount">
                    </label>
                    <button class="button button-block button-balanced designed" type="submit">Update</button>

                </div>
            </form>
		</div>
    </ion-content>
</div>

