<ion-view hide-back-button="true" cache-view="false" hide-nav-bar="true" ng-init="activationForm()">
    <ion-content class="public_pages activation_page">
        <div class="activation_page_content">
            <h3>Enter otp sent to registered mobile number...</h3>
            <p></p>
            <br/>

            <form novalidate="novalidate" on-valid-submit="doActivate()">
                <label class="item item-input validated">
                    <input type="tel" placeholder="Enter the otp..." ng-model="user.otp" required="required">
                    <i class="icon ion-alert-circled error"></i>
                </label>
                <input type="hidden" ng-model="user.country_code" >
                <div class="padding">
                    <button class="button button-block button-large button-stable designed" type="submit">Register</button>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>
