<ion-view hide-back-button="true" cache-view="false" hide-nav-bar="true" ng-init="homePage()">
    <ion-content>
        <ion-slide-box does-continue="true" show-pager="true" auto-play="true">
            <ion-slide class="home_slide1">
                <!--<img style="width: 100%" src="img/background.jpg">-->
                <div class="home_slide_content">
                    <img class="vertical-aligned" src='img/ionic.png' />
                    <h2>Shop</h2>
                    <h2>Smartly</h2>
                </div>
            </ion-slide>
            <ion-slide class="home_slide2">
                <!--<img style="width: 100%" src="img/background.jpg">-->
                <div class="home_slide_content">
                    <img class="vertical-aligned" src='img/ionic.png' />
                    <h2>|| Dummy Text Generator</h2>
                    <b>Legal Ipsum. For those times when you need some legal-sounding gibberish but don't have the budget to hire a lawyer at $400/hr. 1 paragraph, 2 paragraphs ... </p></b>
                </div>
            </ion-slide>
            <ion-slide class="home_slide3">
                <!--<img style="width: 100%" src="img/background.jpg">-->
                <div class="home_slide_content">
                    <img class="vertical-aligned" src='img/ionic.png' />
                    <h2>Lorem Ipsum Generator</h2>
                    <b>Legal Ipsum. For those times when you need some legal-sounding gibberish but don't have the budget to hire a lawyer at $400/hr. 1 paragraph, 2 paragraphs ...</b>
                </div>
            </ion-slide>
            <ion-slide class="home_slide4">
                <!--<img style="width: 100%" src="img/background.jpg">-->
                <div class="home_slide_content">
                    <img class="vertical-aligned" src='img/ionic.png' />
                    <h2>Legal Ipsum</h2>
                    <b>Legal Ipsum. For those times when you need some legal-sounding gibberish but don't have the budget to hire a lawyer at $400/hr. 1 paragraph, 2 paragraphs ...</p></b>
                </div>
            </ion-slide>
        </ion-slide-box>
        <a ng-click="previousSlide()" class="slide-left">
            <i class="icon ion-chevron-left"></i>
        </a>
        <a ng-click="nextSlide()" class="slide-right">
            <i class="icon ion-chevron-right"></i>
        </a>

        <div class="home_buttons">
            <a class="button button-large button-positive" href="#/public/signup">
                SIGN ME UP !
            </a>
        </div>
    </ion-content>
</ion-view>
