<ion-view hide-back-button="true" cache-view="false" hide-nav-bar="true" ng-init="signUp()">
    <ion-content class="public_pages signup_page">
        <div class="signup_page_content">
            <h3>We will send activation code via sms to activate your mobile number .</h3>
            <p></p>
            <br/>

            <form novalidate="novalidate" on-valid-submit="doRegister()">
                <label class="item item-input validated">
                    <input type="text" placeholder="Enter your name..." ng-model="user.name" required="required" ng-length="10">
                    <i class="icon ion-alert-circled error"></i>
                </label>
                <label class="item item-input validated">
                    <span class="input-label">India(+91)</span>
                    <input type="tel" placeholder="Enter your mobile number..." ng-model="user.mobile_number" required="required" ng-minlength="10" ng-maxlength="10">
                    <i class="icon ion-alert-circled error"></i>
                </label>
                <input type="hidden" ng-model="user.country_code" >
                <div class="padding">
                    <button class="button button-large button-block button-stable designed" type="submit">Register</button>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>
